<body>
  <app-toolbar value="opening"></app-toolbar>
  <div class="container">
    <div class="module" (click)="goToModule()">
      <div class="module-name-container">
        <span class="module-name">Matérial didático</span>
        <div class="module-line" id="module-line-one"></div>
      </div>
      <div class="container-circle">
        <img
          class="inner-circle"
          src="../../../../assets/inner-circle-one.svg"
          alt="inner-circle-one"
        />
        <img src="../../../../assets/study-book.svg" alt="study-book" />
        <div class="circle"></div>
      </div>
    </div>
    <div class="module">
      <div class="module-name-container">
        <span class="module-name">Quiz</span>
        <div class="module-line" id="module-line-two"></div>
      </div>
      <div class="container-circle">
        <img
          class="inner-circle"
          src="../../../../assets/inner-circle-two.svg"
          alt="inner-circle-one"
        />
        <img src="../../../../assets/medal.svg" alt="medal" />
        <div class="circle"></div>
      </div>
    </div>
    <div class="module">
      <div class="module-name-container">
        <span class="module-name">Desenho</span>
        <div class="module-line" id="module-line-three"></div>
      </div>
      <div class="container-circle">
        <img
          class="inner-circle"
          src="../../../../assets/inner-circle-three.svg"
          alt="inner-circle-one"
        />
        <img src="../../../../assets/paint.svg" alt="paint" />
        <div class="circle"></div>
      </div>
    </div>
    <div class="module">
      <div class="module-name-container">
        <span class="module-name">Youtube</span>
        <div class="module-line" id="module-line-four"></div>
      </div>
      <div class="container-circle">
        <img
          class="inner-circle"
          src="../../../../assets/inner-circle-four.svg"
          alt="inner-circle-one"
        />
        <img
          src="../../../../assets/youtube-background.svg"
          alt="youtube-background"
        />
        <img src="../../../../assets/youtube-play.svg" alt="youtube-play" />
        <div class="circle"></div>
      </div>
    </div>
  </div>
</body>
