<app-toolbar value="courseware"></app-toolbar>
<body>
  <div class="module">
    <img
      class="background"
      src="../../../../assets/trakto-edu-background-color.svg"
      alt="trakto-edu-background"
    />
    <img
      class="background"
      src="../../../../assets/trakto-edu-background-design.svg"
      alt="trakto-edu-background-design"
    />
    <div class="arrow-container">
      <img
        id="mochileiro"
        src="../../../../assets/tiago-mochileiro.svg"
        alt="tiago-mochileiro"
      />
      <img id="arrow" src="../../../../assets/arrow.svg" alt="arrow" />
    </div>
    <div class="text-container">
      <div id="text">
        <div id="text-one">Conheça a jornada do Trakto Edu</div>
        <div id="text-two">O design como ferramenta educadora.</div>
      </div>
    </div>
    <img
      class="thiago"
      src="../../../../assets/tiago-da-silva.svg"
      alt="tiago-da-silva"
    />
    <img
      class="dotted-line"
      src="../../../../assets/dotted-line.svg"
      alt="dotted-line"
    />
  </div>
  <app-module-content></app-module-content>
</body>
